<header>
    <div class="container">
        <a href="#" class="logo navbar-brand"><span>RENT</span> A CAR</a>
        <nav id="nav">
            <a class="nav-link" href="#" routerLinkActive='active' [routerLink]="['/register']">Sign up<span
                    class="sr-only"></span></a>
        </nav>
    </div>
</header>

<div id="banner">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <ul class="tab-list">
                    <h1 class="text-uppercase text-center font-weight-bold">
                        Login</h1>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <form (submit)="onSubmit()" class="text-center mt-5" name="myForm" novalidate>
                            <div class="input-group input-group-big">
                                <label class="label">Username:</label> <br>
                                <input class="input--style-1" type="text" name="username"
                                    pattern="[a-zA-Z0-9\\s\\-]{1,50}" [(ngModel)]="user.username" #username="ngModel"
                                    placeholder="username" required="required"><br>
                            </div>
                            <div class="alert alert-danger" *ngIf="username.touched && !username.valid">Username
                                is empty,or invalid. Signs like '%,<,>,:,;' are not allowed.</div>
                            <div class="input-group input-group-big">
                                <label class="label">Password:</label><br>
                                <input class="input--style-1" type="password" name="password" #password="ngModel"
                                    pattern="[a-zA-Z0-9\\s\\-]{1,50}" [(ngModel)]="user.password" placeholder="password"
                                    required="required">
                                <br>
                            </div>
                            <div class="alert alert-danger" *ngIf="password.touched && !password.valid">Password
                                is invalid.</div>
                            <div class="text-center mt-3">
                                <button type="button" class="btn-orange" type="submit">Sign in</button>
                            </div>
                        </form>

                        <div class="error-message">
                            <span>{{message}}</span>
                        </div>

                        <div>
                            <a href="http://localhost:4200/single-sign-on"><span>Use microservice to login</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>